---
http_interactions:
- request:
    method: get
    uri: https://livescore-api.com/api-client/leagues/table.json?competition_id=45&key=sASuCpO9skbz3Qhw&secret=unL319DF2ywt4sTw3L0FbOPD91ccRuJm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"table":[{"league_id":"0","season_id":"13","name":"CF
        America","rank":"1","points":"35","matches":"17","goal_diff":"11","goals_scored":"21","goals_conceded":"10","lost":"2","drawn":"5","won":"10","team_id":"1067","competition_id":"45","group_id":"1358","group_name":"1","stage_name":"Apertura","stage_id":"1763"},{"league_id":"0","season_id":"13","name":"Atlas","rank":"2","points":"29","matches":"17","goal_diff":"11","goals_scored":"21","goals_conceded":"10","lost":"4","drawn":"5","won":"8","team_id":"458","competition_id":"45","group_id":"1358","group_name":"1","stage_name":"Apertura","stage_id":"1763"},{"league_id":"0","season_id":"13","name":"Leon","rank":"3","points":"29","matches":"17","goal_diff":"6","goals_scored":"20","goals_conceded":"14","lost":"4","drawn":"5","won":"8","team_id":"769",[...]
