---
http_interactions:
- request:
    method: get
    uri: https://livescore-api.com/api-client/fixtures/matches.json?competition_id=45&key=sASuCpO9skbz3Qhw&secret=unL319DF2ywt4sTw3L0FbOPD91ccRuJm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":true,"data":{"next_page":false,"fixtures":[{"league_id":341,"away_name":"Tigres","odds":{"live":{"1":null,"2":null,"X":null},"pre":{"1":2.5,"2":2.8,"X":3.25}},"home_translations":{"fa":"\u067e\u0627\u0686\u0648\u06a9\u0627","ru":"\u041f\u0430\u0447\u0443\u043a\u0430","ar":"\u0628\u0627\u062a\u0634\u0648\u0643\u0627"},"date":"2022-04-08","id":1516907,"home_id":459,"competition_id":45,"away_translations":{"fa":"\u062a\u06cc\u06af\u0631\u0633","ru":"\u0422\u0438\u0433\u0440\u0435\u0441
        \u0423\u0410\u041d\u041b","ar":"\u062a\u064a\u063a\u0631\u064a\u0633"},"location":"Estadio
        Hidalgo","h2h":"https:\/\/livescore-api.com\/api-client\/teams\/head2head.json?team1_id=459&secret=unL319DF2ywt4sTw3L0FbOPD91ccRuJm&key=sASuCpO9skbz3Qhw&team2_id=767","competition":{"id":45,"name":"Liga
        MX"},"away_id":767,"league":{"id":341,"country_id":57,"name":"Liga MX:: clausura"},"home_name":"Pachuca","round":"9","time":"00:00:00"},{"league_id":0,"away_name":"Necaxa","odds":{"live":{"1":null,"2":null,"X":null},"pre":{"1":1.8,"2":4.5,"X":3.25}},"home_translations":{"fa":"\u0627\u0637\u0644\u0633","ru":"\u0410\u0442\u043b\u0430\u0441","ar":"\u0623\u062a\u0644\u0627\u0633"},"date":"2022-04-08","id":1516908,"home_id":458,"competition_id":45,"away_translations":{"fa":"\u0646\u06a9\u0627\u06a9\u0633\u0627","ru":"\u041d\u0435\u043a\u0430\u043a\u0441\u0430","ar":"\u0646\u064a\u0643\u0627\u0633\u0627"},"location":"Estad[...]
